[flake8]
 ignore = E501, E265, F811, PT001, DJ05, D100, D105, D104, W503, W504, W292
 max-line-length = 79
 paths = 
    ./yacut
 max-complexity = 10
 exclude = 
    tests
    migrations
 per-file-ignores =
    __init__.py: F401, E402
